# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
src/main/java/org/bleachhack/module/mods/IamBot.java
src/main/java/org/bleachhack/module/mods/EventlessFly.java
src/main/java/org/bleachhack/module/mods/LOWhitelist.java
src/main/java/org/bleachhack/util/ClientCaller.java
src/main/java/org/bleachhack/mixin/MixinMovementPackets.java
src/main/java/org/bleachhack/mixin/MixinVehiclePackets.java